@media print {
  /* line 7, ../scss/print.scss */
  div, section {
    width: 100%;
    margin: 0;
    float: none;
  }

  /* line 13, ../scss/print.scss */
  h1 {
    margin-top: 0;
  }

  /* line 14, ../scss/print.scss */
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* line 17, ../scss/print.scss */
  .intro-wrap-holder, .intro-wrap, .topline, .page-wrap, footer {
    display: none;
  }

  /* line 21, ../scss/print.scss */
  .print {
    color: #555;
    display: block;
  }

  /* line 28, ../scss/print.scss */
  .logo {
    position: relative;
    float: right;
    border: 0 transparent solid;
    border-width: 0 125px 125px 0;
    border-right-color: #E0E0D5;
    width: 0;
    height: 0;
    -webkit-print-color-adjust: exact;
  }
  /* line 46, ../scss/print.scss */
  .logo .the-logo {
    position: absolute;
    width: 60px;
    height: 70px;
    left: 61px;
    top: 2px;
    -webkit-print-color-adjust: exact;
    background: url('../img/logo.svg') center bottom no-repeat;
    -webkit-background-size: 60px auto;
    -moz-background-size: 60px auto;
    -o-background-size: 60px auto;
    background-size: 60px auto;
  }
  /* line 62, ../scss/print.scss */
  .logo .self-desc {
    display: none;
  }

  /* line 67, ../scss/print.scss */
  section {
    margin-bottom: 1.5em;
  }

  /* line 71, ../scss/print.scss */
  h1 {
    font-size: 24px;
    font-family: "Economica", "Helvetica", "Verdana", "Hiragino Sans GB", "Hiragino Sans GB W3", "STHeiti", "微软雅黑", "Microsoft YaHei", "Arial", serif;
    color: black;
    margin: 0 0 0.5em 0;
  }
  /* line 79, ../scss/print.scss */
  h1 .h1-ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0 2px;
    border-bottom: 2px solid black;
    vertical-align: middle;
    background: url('../img/print_sprite.png') center 0 no-repeat;
    -webkit-background-size: 24px auto;
    -moz-background-size: 24px auto;
    -o-background-size: 24px auto;
    background-size: 24px auto;
  }
  /* line 91, ../scss/print.scss */
  h1 .h1-name {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    border-bottom: 2px solid black;
    vertical-align: middle;
  }
  /* line 99, ../scss/print.scss */
  h1 .ico-skill {
    background-position: center -24px;
  }
  /* line 100, ../scss/print.scss */
  h1 .ico-interest {
    background-position: center -48px;
  }
  /* line 101, ../scss/print.scss */
  h1 .ico-exp {
    background-position: center -72px;
  }

  /* line 104, ../scss/print.scss */
  .personal {
    font-size: 1em;
    padding-left: 1em;
    margin: 1em;
  }
  /* line 109, ../scss/print.scss */
  .personal li {
    line-height: 1.6em;
    font-size: 12px;
  }
  /* line 114, ../scss/print.scss */
  .personal .label {
    width: 5em;
    display: inline-block;
    margin-right: 0.8em;
  }
  /* line 120, ../scss/print.scss */
  .personal .value {
    color: #333;
  }
  /* line 124, ../scss/print.scss */
  .personal .name:empty::before {
    content: "\6881\6587\6d69";
  }
  /* line 125, ../scss/print.scss */
  .personal .age:empty::before {
    content: "23";
  }
  /* line 126, ../scss/print.scss */
  .personal .phone:empty::before {
    content: "13651302717";
  }

  /* line 129, ../scss/print.scss */
  .biography {
    font-size: 1.2em;
    color: #999;
    margin: 0;
    padding: 0 1em;
    text-indent: 1em;
  }

  /* line 137, ../scss/print.scss */
  .sec-skill {
    float: left;
    width: 66%;
    padding-right: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 144, ../scss/print.scss */
  .sec-skill .skill-list {
    font-size: 0.8em;
    float: left;
    width: 49%;
    min-width: 12em;
  }
  /* line 151, ../scss/print.scss */
  .sec-skill .label {
    width: 5em;
    display: inline-block;
    margin: 0 0.5em 0 0;
    color: #333;
    font-weight: bold;
  }
  /* line 160, ../scss/print.scss */
  .sec-skill .level:before, .sec-skill .level:after {
    font-family: "wwmregular";
    -webkit-font-smoothing: antialiased;
    color: #333;
  }
  /* line 166, ../scss/print.scss */
  .sec-skill .level:after {
    color: #9e9e9e;
  }
  /* line 171, ../scss/print.scss */
  .sec-skill .level1:before {
    content: "\F11B";
  }
  /* line 171, ../scss/print.scss */
  .sec-skill .level1:after {
    content: "\F11B\F11B\F11B\F11B";
  }
  /* line 172, ../scss/print.scss */
  .sec-skill .level2:before {
    content: "\F11B\F11B";
  }
  /* line 172, ../scss/print.scss */
  .sec-skill .level2:after {
    content: "\F11B\F11B\F11B";
  }
  /* line 173, ../scss/print.scss */
  .sec-skill .level3:before {
    content: "\F11B\F11B\F11B";
  }
  /* line 173, ../scss/print.scss */
  .sec-skill .level3:after {
    content: "\F11B\F11B";
  }
  /* line 174, ../scss/print.scss */
  .sec-skill .level4:before {
    content: "\F11B\F11B\F11B\F11B";
  }
  /* line 174, ../scss/print.scss */
  .sec-skill .level4:after {
    content: "\F11B";
  }
  /* line 175, ../scss/print.scss */
  .sec-skill .level5:before {
    content: "\F11B\F11B\F11B\F11B\F11B";
  }
  /* line 178, ../scss/print.scss */
  .sec-skill .basic .level1:before {
    content: "\F129";
  }
  /* line 178, ../scss/print.scss */
  .sec-skill .basic .level1:after {
    content: "\F129\F129\F129\F129";
  }
  /* line 179, ../scss/print.scss */
  .sec-skill .basic .level2:before {
    content: "\F129\F129";
  }
  /* line 179, ../scss/print.scss */
  .sec-skill .basic .level2:after {
    content: "\F129\F129\F129";
  }
  /* line 180, ../scss/print.scss */
  .sec-skill .basic .level3:before {
    content: "\F129\F129\F129";
  }
  /* line 180, ../scss/print.scss */
  .sec-skill .basic .level3:after {
    content: "\F129\F129";
  }
  /* line 181, ../scss/print.scss */
  .sec-skill .basic .level4:before {
    content: "\F129\F129\F129\F129";
  }
  /* line 181, ../scss/print.scss */
  .sec-skill .basic .level4:after {
    content: "\F129";
  }
  /* line 182, ../scss/print.scss */
  .sec-skill .basic .level5:before {
    content: "\F129\F129\F129\F129\F129";
  }

  /* line 186, ../scss/print.scss */
  .sec-interest {
    float: right;
    width: 33%;
  }
  /* line 190, ../scss/print.scss */
  .sec-interest li {
    float: left;
    margin: 0 0.3em 0.3em 0;
    padding: 0.3em 0.2em;
    line-height: 1em;
    height: 1em;
    font-size: 0.8em;
    background: #9e9e9e;
    color: #fff;
    border-radius: 2px;
  }

  /* line 206, ../scss/print.scss */
  .sec-exp {
    clear: both;
  }

  /* line 210, ../scss/print.scss */
  li.exp {
    margin-left: 5em;
    border-left: 1px solid #9e9e9e;
    padding: 0.3em 1em;
    position: relative;
    color: #333;
    font-size: 0.9em;
  }
  /* line 218, ../scss/print.scss */
  li.exp:before {
    content: " ";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: -3px;
    background: #9e9e9e;
    top: 1em;
    margin-top: -4px;
    border-radius: 50%;
  }
  /* line 231, ../scss/print.scss */
  li.exp .exp-year {
    position: absolute;
    left: -4.5em;
    font-size: 0.9em;
    background: #9e9e9e;
    color: #fff;
    padding: 0.3em 0;
    border-radius: 2px;
    width: 3.4em;
    text-align: center;
    line-height: 1em;
  }
}
