ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

a img {
  border: none; }

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none; }

.bg {
  font-family: "STHeiti", "Helvetica", "Microsoft YaHei", sans-serif, "Simsun";
  background: #252525 url("../img/bg.gif") repeat; }

#playground {
  width: 100%;
  height: 100%;
  overflow: visible; }

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

#skill {
  left: 100%; }

#work {
  left: 200%; }

#contact {
  left: 300%; }

.s1 {
  background: url("../img/s1.gif") no-repeat; }

.s2 {
  background: url("../img/s2.png") no-repeat; }

.bar {
  position: fixed;
  width: 100%;
  height: 8px;
  bottom: -8px;
  background-repeat: repeat-x; }

#barSkill {
  background-image: url("../img/bar.gif"); }

#barWork {
  background-position: 0 -8px; }

@font-face {
  font-family: 'IcoMoon';
  src: url("../asset/icomoon.otf") format("opentype"); }

#logo {
  margin-left: 24px;
  margin-top: 18px;
  float: left;
  position: absolute;
  background-position: -190px bottom; }

#logoAlt {
  width: 103px;
  height: 120px;
  opacity: 0;
  background-position: right bottom; }
  #logoAlt:hover {
    opacity: 1;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; }

#about {
  max-width: 394px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  margin-top: -128px;
  left: 0;
  right: 0;
  _height: 1%;
  overflow: hidden; }

#intro {
  text-shadow: 0 1px 1px black;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
  position: relative;
  overflow: hidden; }
  #intro:before, #intro:after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    content: " ";
    z-index: -1; }
  #intro:before {
    left: 0;
    border-left: 1px solid rgba(200, 200, 200, 0.15); }
  #intro:after {
    right: 0;
    border-right: 1px solid rgba(200, 200, 200, 0.15);
    border-top: 1px solid rgba(200, 200, 200, 0.15); }

.introContent {
  margin: 32px; }

.downShadow {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 10%;
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.95); }

.arevert {
  padding: 2px; }
  .arevert:hover {
    color: #000;
    text-shadow: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }

.ablue {
  color: #009cff; }
  .ablue:hover {
    background: #009cff; }

.agreen {
  color: #c6ff00; }
  .agreen:hover {
    background: #c6ff00; }

.aorange {
  color: #ff9600; }
  .aorange:hover {
    background: #ff9600; }

#socialWrapper {
  width: 100%;
  float: left; }

#social {
  margin-right: 265px;
  height: 160px;
  background: #282828 url("../img/scbg.png") repeat;
  overflow: hidden;
  font-family: monospace; }
  #social p {
    width: 1em;
    float: left;
    padding: 5px 1px;
    font-weight: bold;
    color: #000;
    background: #1A1A1A;
    text-shadow: 0 1px 1px #363636;
    font-family: "STHeiti", "Helvetica", "Microsoft YaHei", sans-serif, "Simsun"; }
  #social ul {
    text-align: left;
    margin-left: 24px;
    margin-top: 24px; }
  #social li {
    padding-bottom: 1px;
    line-height: 16px;
    height: 16px; }

.scLink {
  color: #AAA;
  line-height: 16px;
  margin: 0;
  padding: 2px 4px;
  white-space: nowrap;
  display: inline-block; }
  .scLink:hover {
    color: #FFF;
    text-shadow: 0 -1px 0 black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: black; }
    .scLink:hover:before {
      padding-right: 2px;
      color: #FFF;
      text-shadow: none; }
  .scLink:before {
    padding-right: 100px;
    font-family: IcoMoon;
    font-size: 16px;
    color: black;
    text-shadow: 0 1px 1px #555555; }

#scda:before {
  content: '\27'; }

#scdr:before {
  content: "#"; }

#scgh:before {
  content: "+"; }

#scvx:before {
  content: ":"; }

#scdb:before {
  content: ">"; }

#scff:before {
  content: "<"; }

#scgm:before {
  content: "@"; }

#rightColumn {
  width: 265px;
  float: left;
  margin-left: -265px; }

#news {
  width: 100%;
  height: 100px;
  background: white url("../img/hmbg.png") repeat; }

#nav {
  float: right;
  width: 265px;
  height: 60px;
  line-height: 60px;
  background: #000;
  color: #555;
  font-weight: bold; }
  #nav ul:before, #nav ul:after {
    background: url("../img/br.gif") no-repeat left center;
    width: 20px;
    height: 60px;
    float: left;
    content: " "; }
  #nav ul:after {
    float: right;
    background-position: right center; }
  #nav li {
    display: inline-block;
    cursor: hand;
    cursor: pointer; }
    #nav li:after {
      padding-right: 1px;
      content: ","; }
    #nav li:last-child:after {
      content: ""; }
  #nav a {
    font-size: 14px;
    color: #555; }
    #nav a:hover {
      color: #FFF; }

.formbg {
  background: #FFF;
  height: 210px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

#formShadow {
  background: #121212;
  border: 8px solid #121212;
  position: absolute;
  margin: -113px auto 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 440px; }

#formLeft {
  float: left;
  width: 160px;
  height: 195px;
  margin-left: -100%; }
  #formLeft img {
    padding-left: 6px;
    margin-top: 23px;
    float: left; }

#stampd {
  position: absolute;
  top: 92px;
  left: 7px;
  display: none; }

#formSeperator {
  width: 1px;
  height: 166px;
  margin: 23px 6px 0 6px;
  float: right;
  background: -moz-linear-gradient(90deg, #f6f6f6 0%, #e2e2e2 50%, #f6f6f6 100%) #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), color-stop(0.5, #e2e2e2), to(#f6f6f6)) #e6e6e6;
  background-image: -o-linear-gradient(#f6f6f6 0%, #e2e2e2 50%, #f6f6f6 100%); }

#notification {
  position: absolute;
  bottom: 3px;
  right: 2px;
  font-size: 10px;
  color: red; }

#formRight {
  float: left;
  height: 195px;
  width: 100%; }

#formWrapper {
  position: relative;
  margin-left: 160px;
  height: 100%; }

*::-webkit-input-placeholder {
  color: #aeaeae; }

*:-moz-placeholder {
  color: #aeaeae; }

.inputStyle {
  position: absolute;
  left: 3px;
  right: 10px;
  font-size: 14px;
  padding: 10px;
  color: #7f7f7f;
  border: 1px solid #bec2c4;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .inputStyle:hover {
    -moz-box-shadow: 0 0 0 4px #f2f5f7, inset 0 1px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 0 4px #f2f5f7, inset 0 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 4px #f2f5f7, inset 0 1px 4px rgba(0, 0, 0, 0.15); }
  .inputStyle:focus {
    border: 1px solid #7dc6dd;
    -moz-box-shadow: 0 0 0 4px #e0f1fc, inset 0 1px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 0 4px #e0f1fc, inset 0 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 4px #e0f1fc, inset 0 1px 4px rgba(0, 0, 0, 0.15); }

#content {
  top: 20px;
  height: 97px;
  resize: none; }

#mail {
  bottom: 6px;
  height: 1em; }

#sendme {
  position: absolute;
  right: 14px;
  bottom: 13px;
  height: 22px;
  width: 80px;
  border: none;
  cursor: pointer;
  background-position: -16px -16px; }
  #sendme:hover {
    background-position: -16px -38px; }
  #sendme:active {
    background-position: -16px -60px; }
  #sendme:disabled {
    background-position: -16px -82px;
    cursor: auto; }
