// Mixins
@mixin retina {
  @media (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-device-pixel-ratio: 2) {
      & { @content; }
  }
}

// Resets
html, body {
  height  : 100%;
  margin  : 0;
  padding : 0;
}

h1, h2, h3, h4, h5, h6, p, input, figure { margin : 0; font-weight : normal; }
em, strong, dfn, code, samp, kbd, var { font-style : normal; }
a           { text-decoration : none; }
dfn         { cursor : pointer;       }
address     { font-style : normal;    }
input:focus { outline : none; }
q { &:before { content : ""; } &:after { content : ""; } }

.clearfix:after {
  content : " ";
  clear   : both;
  display : block;
}

.vam {
  &:before {
    content        : " ";
    width          : 0;
    height         : 100%;
    display        : inline-block;
    vertical-align : middle;
    margin-right   : -0.25em;
  }
}

.tac  { text-align : center; }
.mg0  { margin : 0 !important; }
.pdl0 { padding-left : 0 !important; }
.pdr0 { padding-right: 0 !important; }

::selection {
  color      : #eee;
  background : #4BA9FF;
}

body {
  @extend .font-def;
}

.sprite {
  background   : inline-image("sprite.png") no-repeat;
  @include retina() {
    background-image : inline-image("sprite@2x.png");
    @include background-size(image-width("sprite.png") auto);
  }
}
