// ---------- Logo / Title
.logo-wrap {
  position : absolute;
  z-index  : 100;
  width    : 100%;
  height   : $firstPageBottomHeight;
  
  pointer-events : none;
  
  &.fixed {
    position : fixed;
    margin   : 0;
    top      : 4px;
    
    &:before {
      position   : absolute;
      width      : 100%;
      height     : 4px;
      top        : -4px;
      left       : 0;
      content    : " ";
      display    : block;
      background : image-url("bg.png") repeat;
    }
  }
}
.logo {
  $svgBGWidth  : 200;
  $svgBGHeight : 228;
  
  height       : $firstPageBottomHeight;
  padding-left : 66 / $svgBGHeight * $svgBGWidth + 15px;

  background : image-url("logo.svg") no-repeat;
  background-position : 0 floor(($firstPageBottomHeight - 66) / 2);
  @include background-size(auto 66px);
}

.page-title {
  color     : #7f7f7f;
  font-size : 18px;
  margin    : 0 auto;
  max-width : 90%;
  width     : 1000px;
  
  @include box-sizing( border-box );
  
  .l1 {
    line-height : 20px;
    padding-top : ($firstPageBottomHeight - 20) / 2;
  }

  .l2 {
    font-size   : 16px;
    line-height : 20px;
    height      : 20px;
    padding-top : ($firstPageBottomHeight - 20 - 16) / 2;
  }

  .l2s {
    font-size   : 12px;
    line-height : 16px;
    height      : 16px;
  }

  b {
    font-weight : normal;
    color       : #333;
  }
}

// Logo / Title ----------

// ---------- Footer
$footerHeight : 54px;
footer {
  position    : relative;
  height      : $footerHeight;
  background  : #262626 inline-image("zigzag.png") repeat-x;
  
  @include retina() {
    background-image : inline-image("zigzag@2x.png");
    @include background-size(image-width("zigzag.png"), auto);
  }
}

.footer-wrap {
  height      : $footerHeight;
  line-height : $footerHeight + floor(image-height("zigzag.png") / 2);
  overflow    : hidden;
  white-space : nowrap;
  padding     : 0 1em 0 3em;
  
  text-align : right;
  color      : #686868;
  font-size  : 24px;
  padding    : 0 1em 0 3em;
}

.copyright {
  font-size : 12px;
  float : left;
  color : lighten(#262626, 10%);
}
// Footer ----------

// --------- J, K Navigation
.shortcut-nav {

  $sc-bottom : floor(($firstPageBottomHeight - 32 - 2*2 - 1*2) / 2);

  position : fixed;
  bottom   : $sc-bottom;
  right    : 50px;
  border   : 1px dashed #d1d1d1;
  
  z-index  : 4;
  
  border-radius : 2px;
  padding : 4px 4px;
  
  &.sticky {
    position : absolute;
    top      : 0px - (26+4*2+1*2) - 10px;
    bottom   : auto;
  }
  
  .sc-button {

    position : relative;
    float    : left;

    width   : 24px;
    height  : 24px;
    padding : 0;
    margin  : 0px 4px;
    
    border-radius : 4px;
    border        : 1px solid #9e9e9e;
    
    color : #777;
    background-color : #f9f9f9;

    @include box-shadow( 0 1px 3px rgba(16,16,16,.3), inset 0 -2px #c5c5c5, inset 0 -3px #fff );
    @include background-image( linear-gradient(bottom, #f4f4f4, #fff) );
    
    font-size   : 12px;
    line-height : 24px;
    text-align  : center;
    
    cursor : pointer;
    
    @include user-select(none);
    
    &:active {
      margin-top : 1px;
      height     : 23px;
      @include box-shadow( 0 1px 3px rgba(16,16,16,.3), inset 0 -1px #c5c5c5 );
    }
  }

  .underline {
    &:active:after {
      bottom : 4px;  
    }

    &:after {
      content     : " ";
      width       : 0.4em;
      height      : 1px;
      display     : inline-block;
      background  : #b6b6b6;
      position    : absolute;
      left        : 50%;
      bottom      : 5px;
      margin-left : -0.2em;
    }
  }
}

// J, K Navigation ---------
