@import "mixin";

@import "misc/footer";
@import "misc/loading";
@import "misc/logo";
@import "misc/shortcut";
@import "misc/tooltip";

// ---------- Emphasize
.emphasize {
  background  : #333;
  color       : #eee;
  margin      : 0 2px 2px;
  padding     : 4px; 
  line-height : 1em;
  display     : inline-block;
}

a.emphasize {
  &:hover, &:active {
    background : #7f7f7f;
  }
}
// Emphasize ----------

