@import "mixin";

.intro-wrap-holder {
  height : 100%;
  margin-bottom : -$firstPageBottomHeight;
}

.intro-wrap {
  background     : image-url("bg.png") repeat;
  position       : fixed;
  top            : 0;
  height         : 100%;
  width          : 100%;
  z-index        : 2;
  padding-bottom : $firstPageBottomHeight;
  
  display : table;
  
  @include retina() {
    background-image : image-url("bg@2x.png");
    @include background-size( image-width("bg.png"), auto );
  }
}

$cardWidth  : 360px;
$cardHeight : ceil($cardWidth * 0.618);
$cardTopHPercent   : 0.4;
$cardTopHeight     : floor($cardHeight * $cardTopHPercent);
$cardRightWPercent : 0.618;
$cardRightHSplitP  : 0.618;
$cardLowerH        : ceil($cardHeight * (1 - $cardTopHPercent));
$cardLeftW         : ceil($cardWidth * (1 - $cardRightWPercent));
$cardRightW        : floor($cardWidth * $cardRightWPercent);
$cardMidH          : ceil($cardLowerH  * $cardRightHSplitP);
$cardBottomH       : floor($cardLowerH  * (1 - $cardRightHSplitP));

$introHeight : 14px * 1.5 * 2;

.card-vam {
  display        : table-cell;
  vertical-align : middle;
}

.card-wrap {
  max-width  : $cardWidth;
  min-width  : $cardWidth - 30px;
  width      : 90%;
  height     : $cardHeight;
  margin     : auto;
  
  @include transform( translate3d(0,0,0) );
  @include box-shadow(0 0 20px rgba(0,0,0,0.75));
}

.card-top {
  border        : 1px solid rgba(200, 200, 200, 0.1);
  border-bottom : none;

  position      : relative;
  overflow      : hidden;

  padding       : floor(($cardTopHeight - $introHeight)/2) 30px;

  @include box-shadow(inset 0 6px 16px 2px rgba(#fff,0.03));
  @include background-image(linear-gradient(bottom, color-stops(rgba(white,0.02),rgba(white,0.03))));
  
  .definition {
    padding-top : 10px;
    font-size   : 13px;
    text-shadow : 0 1px rgba(#999, 0.14);
    text-align  : left;
    white-space : pre;
    word-wrap   : break-word;
    overflow    : hidden;
    
    @include transition(height .3s ease-in-out, padding .1s linear);
    
    &.hidden {
      padding-top : 0;
      height      : 0;
      
      @include transition(height .3s ease-in-out, padding .1s .3s linear);
    }

    .def-span {
      line-height : 24px;
      padding     : 4px;
      background  : rgba(#fff, 0.03);
    }

    &:before {
      font-family : Georgia;
      font-size   : 36px;
      content     : "\201c";
      display     : inline-block;
      height      : 16px;
      line-height : 20px;
      width       : 20px;
    }
  }
  
  &:before {
    width             : 200%;
    height            : $cardTopHeight;
    position          : absolute;
    border-radius     : 50%;
    top               : ceil($cardTopHeight * -0.35);
    left              : -15px;
    z-index           : -1;
    content           : " ";
    background        : rgba(#fff, 0.02);
    
    @include transform( rotate(3deg) );
  }

  &:after {
    position : absolute;
    width    : 80%;
    height   : 10px;
    left     : 0;
    right    : 0;
    margin   : auto;
    bottom   : -10px;
    @include box-shadow(0 0 16px #000);
  }
}

#W_introContent {
  height  : $introHeight;
  
  text-shadow : 0 1px 1px black;
  color       : white;
  font-size   : 14px;
  line-height : 1.5em;
  
  vertical-align : middle;
}

.arevert {
  padding       : 2px 4px;
  border-radius : 2px;
  margin        : 0 1px;
  
  &:hover {
    color       : #000;
    text-shadow : none;
  }
}

.ablue   { color: #009cff; &:hover { background : #009cff; } }
.aorange { color: #ff9600; &:hover { background : #ff9600; } }
.agreen  { color: #c6ff00; &:hover { background : #c6ff00; } }

@import "intro/card_cite";
@import "intro/card_link";
@import "intro/card_puzzle";
