.intro-wrap-holder {
  height : 100%;
  margin-bottom : -$firstPageBottomHeight;
}

.intro-wrap {
  background  : image-url("bg.png") repeat;
  position    : fixed;
  top         : -$firstPageBottomHeight;
  height      : 100%;
  width       : 100%;
  z-index     : 2;
  text-align  : center;
  padding-top : $firstPageBottomHeight;
  
  @include box-sizing( border-box );
  @include retina() {
    background-image : image-url("bg@2x.png");
    @include background-size( image-width("bg.png"), auto );
  }
}

$cardWidth  : 360px;
$cardHeight : ceil($cardWidth * 0.618);
$cardTopHPercent   : 0.4;
$cardTopHeight     : ceil($cardHeight * $cardTopHPercent);
$cardRightWPercent : 0.618;
$cardRightHSplitP  : 0.618;
$cardBottomH       : floor($cardHeight * (1 - $cardTopHPercent));
$cardLeftW         : floor($cardWidth * (1 - $cardRightWPercent));

$introHeight : 14px * 1.5 * 2;

.card-wrap {
  max-width : $cardWidth;
  min-width : $cardWidth - 30px;
  width     : 90%;
  height    : $cardHeight;
  
  margin         : auto;
  vertical-align : middle;
  display        : inline-block;

  @include box-shadow(0 0 20px rgba(0,0,0,0.75));
}

.card-top {
  border        : 1px solid rgba(200, 200, 200, 0.1);
  border-bottom : none;

  position      : relative;
  overflow      : hidden;

  padding       : floor(($cardTopHeight - $introHeight)/2) 30px;

  @include box-shadow(inset 0 6px 16px 2px rgba(#fff,0.03));
  @include background-image(linear-gradient(bottom, color-stops(rgba(white,0.02),rgba(white,0.03))));
  
  .definition {
    padding-top : 10px;
    font-size   : 13px;
    text-shadow : 0 1px rgba(#999, 0.14);
    text-align  : left;
    white-space : pre;
    word-wrap   : break-word;
    overflow    : hidden;
    
    @include transition(height .3s ease-in-out, padding .1s linear);
    
    &.hidden {
      padding-top : 0;
      height      : 0;
      
      @include transition(height .3s ease-in-out, padding .1s .3s linear);
    }

    .def-span {
      line-height : 24px;
      padding     : 4px;
      background  : rgba(#fff, 0.03);
    }

    &:before {
      font-family : Georgia;
      font-size   : 36px;
      content     : "\201c";
      display     : inline-block;
      height      : 16px;
      line-height : 20px;
      width       : 20px;
    }
  }
  
  &:before {
    width             : 200%;
    height            : $cardTopHeight;
    position          : absolute;
    border-radius     : 50%;
    top               : ceil($cardTopHeight * -0.35);
    left              : -15px;
    z-index           : -1;
    content           : " ";
    background        : rgba(#fff, 0.02);
    
    @include transform( rotate(3deg) );
  }

  &:after {
    position : absolute;
    width    : 80%;
    height   : 10px;
    left     : 0;
    right    : 0;
    margin   : auto;
    bottom   : -10px;
    @include box-shadow(0 0 16px #000);
  }
}

#W_introContent {
  height  : $introHeight;
  
  text-shadow : 0 1px 1px black;
  color       : white;
  font-size   : 14px;
  line-height : 1.5em;
  
  vertical-align : middle;
}

.arevert {
  padding       : 2px 4px;
  border-radius : 2px;
  margin        : 0 1px;
  
  &:hover {
    color       : #000;
    text-shadow : none;
  }
}

.ablue   { color: #009cff; &:hover { background : #009cff; } }
.aorange { color: #ff9600; &:hover { background : #ff9600; } }
.agreen  { color: #c6ff00; &:hover { background : #c6ff00; } }

.card-left {
  height : $cardBottomH;
  width  : $cardLeftW;
  float  : left;

  background    : #7c7c7c;
  border-radius : 0 0 0 4px;
}

.card-mid {
  position    : relative;
  width       : ceil($cardWidth * $cardRightWPercent);
  height      : ceil($cardBottomH * $cardRightHSplitP);
  margin-left : $cardLeftW;
}

.cite-con {
  background : #eeebdf image-url("noise.png") repeat;

  &:before, &:after {
    @extend .wwmicn;
    content  : "\201c";
    position : absolute;
    top      : -5px;
    left     : -5px;
    height   : 40px;
    
    color       : #3a3a3a;
    font-size   : 70px;
    
    pointer-events : none;
  }

  &:before {
    text-shadow : 0 1px 1px #fff;
  }

  &:after {
    // grandient text effect
    -webkit-text-fill-color : transparent;
    background : -webkit-linear-gradient(top, #101010, #363636);
    -webkit-background-clip : text;
  }
}

#W_citeCarousel {

  @include perspective(500px);

  .cite-con {
    width    : 100%;
    height   : 100%;
    position : absolute;
    top      : 0;
    left     : 0;
  }

  .head {
    z-index : 3;
    @include backface-visibility(hidden);
  }

  .tail {
    z-index : 4;
    @include backface-visibility(hidden);
  }

  &.cite-play {
    .head {
      @include animation(flipHead .5s linear both);
    }
    .tail {
      z-index : 2;
      @include animation(flipTail .5s linear both);
      
    }
  }
}

@-webkit-keyframes flipHead {
  0%   { -webkit-transform : rotateX(0deg);   }
  100% { -webkit-transform : rotateX(180deg); }
}

@-webkit-keyframes flipTail {
  0% {
    z-index : 2;
    -webkit-transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    -webkit-transform : rotateX(0deg);
  }
}
@-moz-keyframes flipHead {
  0%   { -moz-transform : rotateX(0deg);   }
  100% { -moz-transform : rotateX(180deg); }
}

@-moz-keyframes flipTail {
  0% {
    z-index : 2;
    -moz-transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    -moz-transform : rotateX(0deg);
  }
}
@-o-keyframes flipHead {
  0%   { -o-transform : rotateX(0deg);   }
  100% { -o-transform : rotateX(180deg); }
}

@-o-keyframes flipTail {
  0% {
    z-index : 2;
    -o-transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    -o-transform : rotateX(0deg);
  }
}
@keyframes flipHead {
  0%   { transform : rotateX(0deg);   }
  100% { transform : rotateX(180deg); }
}

@keyframes flipTail {
  0% {
    z-index : 2;
    transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    transform : rotateX(0deg);
  }
}

.cite-wrap {
  padding     : 0 10px;
  text-indent : 30px;
  text-align  : left;
  color       : #452705;
  text-shadow : 0 1px 1px #fff;
  font        : 12px/1.2em "Apple Chancery", "Segoe Script", "Bad Script", cursive;
  height      : 100%;
  position    : relative;
  
  .cite {
    padding-top : 20px;
    
    &.single-bold {
      font-size : 18px;
      padding-top : 30px;
    }
  }
  
  .cite-src {
    position : absolute;
    bottom   : 5px;
    right    : 10px;
    
    &:before {
      content : " - ";
    }
  }
}

.card-bottom {
  width       : ceil($cardWidth * $cardRightWPercent);
  height      : floor($cardBottomH * (1 - $cardRightHSplitP));
  line-height : floor($cardBottomH * (1 - $cardRightHSplitP));
  margin-left : $cardLeftW;
  
  background    : #393939 image-url("nw_bg.png") 0 center repeat-x;
  border-radius : 0 0 4px 0;
  
  text-align : right;
  padding    : 0 1em;
  cursor     : default;
  
  @include box-sizing( border-box );
  @include user-select( none );
  
  @include retina() {
    background-image : image-url("nw_bg@2x.png");
    @include background-size(image-width("nw_bg.png") auto);
  }
  
  a {
    color     : #1f1f1f;
    font-size : 16px;

    text-decoration : none;
    vertical-align  : middle;
  }

  .github:hover   { color : #5791ca; }
  .dribbble:hover { color : #cb416f; }
  .twitter:hover  { color : #00acee; }
  .fanfou:hover   { color : #1ac0fa; }
  .v2ex:hover     { color : #d9d9dc; }
  .mail:hover     { color : #d53c36; }
}
