@import "compass/css3";
@import "compass/css3/user-interface";
@import "font";
@import "animation";


// Color
$mainBGColor : #ecece4;

// Size
$firstPageBottomHeight : 76px;
$browserWidth : 1366px;
$pageWidth    : 1000px;
$pageMaxWidth : 90%;

// General Page
.page-wrap {
  position         : relative;
  z-index          : 3;
  background-color : $mainBGColor;
}

.page {
  background : $mainBGColor;
  margin     : 0 auto;
  max-width  : $pageMaxWidth;
  width      : $pageWidth;
}

@import "base";
@import "misc";
@import "page_0_intro";
@import "page_1_skill";
@import "page_2_timeline";
@import "page_3_about";
@import "page_4_contact";
