@import url(http://fonts.googleapis.com/css?family=Bad+Script);

@import "../asset/font";
@import "compass/css3";
@import "compass/css3/user-interface";


// Color
$mainBGColor : #ecece4;

// Size
$firstPageBottomHeight : 76px;
$browserWidth : 1366px;
$pageWidth    : 1000px;
$pageMaxWidth : 90%;

// General Page
.page-wrap {
  position: relative;
  min-height : 100%;
  z-index : 3;
  background : $mainBGColor;
}

.page {
  position   : relative;
  min-height : 100%;
  height     : 100%;
  z-index    : 3;
  background : $mainBGColor;
  margin     : 0 auto;
  max-width  : $pageMaxWidth;
  width      : $pageWidth;
}

@import "base.scss";
@import "misc.scss";
@import "page_0_intro.scss";
@import "page_1_skill.scss";
@import "page_2_timeline.scss";
@import "page_3_about.scss";
