// +++ Variable Zone +++
$formWidth:  440px;
$formHeight: 210px;
$contentHeight: 195px;
$formLeftWidth: 160px;

// --- Variable Zone End ---

.formbg {
    background: #FFF;
    height: $formHeight;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#formShadow {
    background: #121212;
    border: 8px solid #121212;
    position: absolute;
    margin: -113px auto 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    width: 90%;
    max-width: $formWidth;
}

// --- Left Part ---
#formLeft {
    float: left;
    width: $formLeftWidth;
    height: $contentHeight;
    margin-left: -100%;

    img {
        padding-left: 6px;
        margin-top: 23px;
        float: left;
    }
}

#stampd {
    position: absolute;
    top: 92px;
    left: 7px;
    display: none;
}

#formSeperator {
    width: 1px;
    height: 166px;
    margin: 23px 6px 0 6px;
    float: right;
    background: -moz-linear-gradient(90deg, #f6f6f6 0%, #e2e2e2 50%, #f6f6f6 100%) #e6e6e6;
    background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), color-stop(0.5, #e2e2e2), to(#f6f6f6)) #e6e6e6;
    background-image: -o-linear-gradient(#f6f6f6 0%, #e2e2e2 50%, #f6f6f6 100%);
}

// --- Notification ---
#notification {
    position: absolute;
    bottom: 3px;
    right: 2px;
    font-size: 10px;
    color: red;
}

// --- Right Part ---
#formRight {
    float:   left;
    height:  $contentHeight;
    width:   100%;
}
#formWrapper {
    position: relative;
    margin-left: $formLeftWidth;
    height: 100%;
}

*::-webkit-input-placeholder{ color: #aeaeae; }
*:-moz-placeholder { color: #aeaeae; }
.inputStyle {
    position: absolute;
    left: 3px;
    right: 10px;

    font-size: 14px;
    padding: 10px;
    color: #7f7f7f;
    border: 1px solid #bec2c4;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -moz-box-shadow: 0 0 0 4px #f2f5f7, inset 0 1px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 0 4px #f2f5f7, inset 0 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 4px #f2f5f7, inset 0 1px 4px rgba(0, 0, 0, 0.15);

    &:focus {
        border:1px solid #7dc6dd;
        -moz-box-shadow: 0 0 0 4px #e0f1fc, inset 0 1px 4px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 0 0 4px #e0f1fc, inset 0 1px 4px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 0 4px #e0f1fc, inset 0 1px 4px rgba(0, 0, 0, 0.15);
    }
}

#content {
    top: 20px;
    height: 97px;
    resize: none;
}

#mail {
    bottom: 6px;
    height: 1em;
}

#sendme {
    position: absolute;
    right: 14px;
    bottom: 13px;
    height: 22px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-position: -16px -16px;

    &:hover    { background-position: -16px -38px; }
    &:active   { background-position: -16px -60px; }
    &:disabled { background-position: -16px -82px; cursor: auto; }
}
