// +++ Variable Zone +++
$aboutWidth:      395px;

$introTextMargin: 32px;
$introBorder:     1px solid rgba(200,200,200, 0.2);

$middleHeight:    100px;
$navHeight:       60px;
$rightWidth:      265px;
// --- Variable Zone End ---


// --- Logo ---
#logo {
    margin-left: 24px;
    margin-top: 18px;
    float: left;
    position: absolute;
    background-position: -190px bottom;
}
#logoAlt {
    width: 103px;
    height: 120px;
    opacity: 0;
    background-position: right bottom;

    &:hover {
        opacity: 1;
        -webkit-transition-property:opacity;
        -o-transition-property:opacity;
        -webkit-transition-duration:0.5s;
        -o-transition-duration:0.5s;
    }
}

// --- About ---
#about {
    max-width: $aboutWidth;
    width: 90%;
    text-align: center;
    margin: 0 auto;

    -moz-box-shadow: 0 0 16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.75);
    box-shadow: 0 0 16px rgba(0,0,0,0.75);

    position: absolute;
    top: 50%;
    margin-top: -128px;
    left: 0;
    right: 0;

    @include ClearFix;
}

// --- Intro (About above) ---
#intro {
    @include TextEmboss(black);
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    border: $introBorder;
    border-bottom: none;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-box-shadow:    inset 0 6px 16px 2px rgba(255,255,255,0.05);
    -webkit-box-shadow: inset 0 6px 16px 2px rgba(255,255,255,0.05);
    box-shadow:         inset 0 6px 16px 2px rgba(255,255,255,0.05);

    &:before {
        width: 200%;
        height: 100px;
        position: absolute;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        top: -37px;
        left: -15px;
        z-index: -1;
        content: " ";
        
        -o-transform:rotate(3deg);
        -moz-transform:rotate(3deg);
        -webkit-transform:rotate(3deg);

        background: rgba(255,255,255,0.02);
    }
}

#introContent {
    margin: $introTextMargin;
}

.downShadow {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 10%;
    -moz-box-shadow:    0 0 16px #000;
    -webkit-box-shadow: 0 0 16px #000;
    box-shadow:         0 0 16px #000;
}

@include DefineToggleLink(".arevert");
@include AddToogleLinkColor(".ablue", $fancyBlue);
@include AddToogleLinkColor(".agreen", $fancyGreen);
@include AddToogleLinkColor(".aorange", $fancyOrange);

// --- Left Column ---
#socialWrapper {
    width: 100%;
    float: left;
}
#social {
    margin-right: $rightWidth;
    height: $middleHeight + $navHeight;
    background: #282828 url('../img/scbg.png') repeat;
    overflow: hidden;
    font-family: monospace;

    p {
        width: 1em;
        float: left;
        padding: 5px 1px;
        font-weight: bold;
        color: #000;
        background: #1A1A1A;
        @include TextEmboss(#363636);
        @include ChineseFont;
    }

    ul {
        text-align: left;
        margin-left: 24px;
        margin-top: 20px;
    }

    li {
        padding-bottom: 3px;
        line-height: 16px;
        height: 16px;
    }
}

.scLink {
    display: block;
    white-space: nowrap;
    margin: 0;

    span {
        color: #AAA;
        padding: 2px 4px;

        &:before {
            position: relative;
            top: 1px;
            padding-right: 100px;
            font-family: IcoMoon;
            font-size: 16px;
            color: black;
            @include TextEmboss(#555);
        }
    }

    &:hover span {
        color: #FFF;
        text-shadow: 0 -1px 0 #000000;
        
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: black;
        
        &:before {
            padding-right: 5px;
            color: #FFF;
            text-shadow: none;
        }
    }
}

#scda:before { content: '\27'; }
#scdr:before { content: "#"; }
#scgh:before { content: "+"; }
#scvx:before { content: ":"; }
#scdb:before { content: ">"; }
#scff:before { content: "<"; }
#scgm:before { content: "@"; }

// --- RightColumn ---
#rightColumn {
    width: $rightWidth;
    float: left;
    margin-left: -$rightWidth;
}

// --- Nav (About middle) ---
#news {
    width: 100%;
    height: $middleHeight;
    background: #FFF url('../img/hmbg.png') repeat;
}

// --- Nav (About below) ---
#nav {
    float: right;
    width: $rightWidth;
    height: $navHeight;
    line-height: $navHeight;

    background: #000;
    color: #555;
    font-weight: bold;

    ul {
        &:before, &:after {
            background: url('../img/br.gif') no-repeat left center;
            width: 20px;
            height: 60px;
            float: left;
            content: " ";
        }
        &:after {
            float: right;
            background-position: right center;
        }
    }

    li {
        display: inline-block;

        &:after {
            padding-right: 1px;
            content: ",";
        }
        &:last-child:after {
            content: "";
        }
    }

    a {
        font-size: 14px;
        color: #555;
        &:hover {
            color: #FFF;
        }
    }
}
