// +++ Variable Zone +++
$aboutWidth:      395px;

$introTextMargin: 32px;
$introBorder:     1px solid rgba(200,200,200, 0.2);

$middleHeight:    100px;
$navHeight:       60px;
$rightWidth:      265px;
// --- Variable Zone End ---


// --- Logo ---
#logo {
    margin-left: 24px;
    margin-top: 18px;
    float: left;
    position: absolute;
    background-position: -93px bottom;
}
#logoAlt {
    width: 103px;
    height: 119px;
    opacity: 0;
    background-position: -196px bottom;

    &:hover {
        opacity: 1;
        -webkit-transition-property:opacity;
        -o-transition-property:opacity;
        -webkit-transition-duration:0.5s;
        -o-transition-duration:0.5s;
    }
}

// --- About ---
#about {
    max-width: $aboutWidth;
    width: 90%;
    text-align: center;
    margin: 0 auto;

    @include BoxShadow("0 0 16px rgba(0,0,0,0.75)");

    position: absolute;
    top: 50%;
    margin-top: -128px;
    left: 0;
    right: 0;

    @include ClearFix;
}

// --- Intro (About above) ---
#intro {
    @include TextEmboss(black);
    width: 100%;
    color: white;
    font-size: 14px;
    //font-weight: bold;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    border: $introBorder;
    border-bottom: none;
    padding: $introTextMargin;

    @include SizingBorderBox;
    @include BoxShadow("inset 0 6px 16px 2px rgba(255,255,255,0.05)");

    &:before {
        width: 200%;
        height: 100px;
        position: absolute;
        @include BorderRadius(50%);

        top: -37px;
        left: -15px;
        z-index: -1;
        content: " ";

        @include Transform(rotate(3deg));

        background: rgba(255,255,255,0.02);
    }
}

.downShadow {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10%;
    @include BoxShadow("0 0 16px #000");
}

.annotation {
    position: relative;
    overflow: hidden;
    text-align: left;
    color: #000;
    @include TextEmboss(#333);
    div {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 20px;
        margin: 0 32px;

        &:before {
            font-family: Georgia;
            font-size: 36px;
            content: "\201c";
            float:left;
        }
    }
}

@include DefineToggleLink(".arevert");
@include AddToogleLinkColor(".ablue", $fancyBlue);
@include AddToogleLinkColor(".agreen", $fancyGreen);
@include AddToogleLinkColor(".aorange", $fancyOrange);

// --- Left Column ---
#socialWrapper {
    width: 100%;
    float: left;
}
#social {
    margin-right: $rightWidth;
    height: $middleHeight + $navHeight;
    background: #282828 url('../img/scbg.png') repeat;
    overflow: hidden;

    p {
        width: 1em;
        float: left;
        padding: 5px 1px;
        font-weight: bold;
        color: #000;
        background: #1A1A1A;
        @include TextEmboss(#363636);
    }

    ul {
        text-align: left;
        margin-left: 24px;
        margin-top: 20px;
    }

    li {
        padding-bottom: 3px;
        line-height: 16px;
        height: 16px;
    }
}

.scLink {
    display: block;
    white-space: nowrap;
    margin: 0;
    height: 16px;

    span {
        color: #AAA;
        padding: 2px 4px;
        font-size: 12px;
        display: inline-block;

        &:before {
            position: relative;
            top: 1px;
            padding-right: 100px;
            font-family: IcoMoon;
            font-size: 16px;
            color: black;
            @include TextEmboss(#555);
        }
    }

    &:hover span {
        color: #FFF;
        background: black;
        text-shadow: 0 -1px 0 #000000;

        @include BorderRadius(3px);
        
        &:before {
            padding-right: 5px;
            color: #FFF;
            text-shadow: none;
        }
    }
}

#scda:before { content: '\27'; }
#scdr:before { content: "#"; }
#scgh:before { content: "+"; }
#scvx:before { content: ":"; }
#scdb:before { content: ">"; }
#scff:before { content: "<"; }
#scgm:before { content: "@"; }

// --- RightColumn ---
#rightColumn {
    width: $rightWidth;
    float: left;
    margin-left: -$rightWidth;
}

// --- Nav (About middle) ---
#news {
    width: 100%;
    height: $middleHeight;
    position: relative;
    background: #FFF url('../img/hmbg.png') repeat;
}

#quoteMark {
    position : absolute;
    top      : 5px;
    left     : 5px;
}

#quote {
    color       : #452705;
    font-size   : 20px;
    width       : 100%;
    height      : $middleHeight + 5;
    text-align  : center;
    line-height : $middleHeight + 5;
}

#quoteFrom {
    color     : #522a0c;
    position  : absolute;
    font-size : 12px;
    bottom    : 3px;
    right     : 5px;
}

// --- Nav (About below) ---
#nav {
    float:       right;
    width:       $rightWidth;
    height:      $navHeight;
    line-height: $navHeight;

    background:  #000;
    color:       #555;
    font-weight: bold;

    position:    relative;

    ul {
        overflow: hidden;
        &:before, &:after {
            background: url('../img/s2.png') no-repeat;
            background-position: 0 -84px;
            width: 20px;
            height: 40px;
            position: absolute;
            left: 0;
            top: 10px;
            right: $rightWidth - 20px;
            content: " ";
        }
        &:after {
            left: auto;
            right: 0;
            background-position: 0 -124px;
        }
    }

    li {
        display: inline-block;

        &:after {
            padding-right: 1px;
            content: ",";
        }
        &:last-child:after {
            content: "";
        }
    }

    a {
        font-size: 14px;
        color: #555;
        &:hover {
            color: #FFF;
        }
    }
}
