// +++ Variable Zone +++
$sinkHeight:  64px;
$sinkSpacing: 16px;
// --- Variable Zone ---

#skillPadding {
    height: 50%;
    margin-bottom: -($sinkHeight * 2 + $sinkSpacing) / 2;
}

.sink {
    width:      90%;
    max-width:  570px;
    height:     $sinkHeight;
    background: #000;
    margin:     $sinkSpacing auto 0 auto;
    position:   relative;
    overflow:   hidden;
    
    @include BorderRadius(30px);
    @include BoxShadow("0 1px 0 #333");

    span {
        color:   #FFF;
        width:   auto;
        padding: 0 15px;
        font:    30px/64px Impact;
    }
}

#basic span{
    float: right;
}

#proPC {
    position : absolute;
    top      : 7px;
    bottom   : 7px;
    left     : 65px;
    right    : 7px;

    .pathItem:last-child {
        @include LinearBackground("#cacaca 0%, #fff 100%");
    }
}

#basicPC {
    position : absolute;
    top      : 7px;
    bottom   : 7px;
    left     : 7px;
    right    : 93px;

    .pathItemTitle {
        margin-right: 55px;
    }
    .pathItem:last-child .pathItemTitle {
        margin-right: 3px;
    }
}

.pathItem {
    height     : 100%;
    position   : absolute;
    background : #FFF;
    @include BorderRadius(26px);
    @include BoxShadow(0 0 6px rgba(0,0,0,0.6));

    &:hover .pathItemIcon {
        background-image: url('../img/icons2.png');
    }
}

.pathItemIcon {
    height     : 32px;
    width      : 32px;
    background : url('../img/icons.png') no-repeat;
    float      : left;
    margin     : 8px 3px 0 57px;
}

.pathItem:first-child .pathItemIcon, #basicPC .pathItemIcon {
    margin-left : 10px;
}

.pathItemTitle {
    height        : 50px;
    line-height   : 50px;
    text-overflow : ellipsis;
    white-space   : nowrap;
    margin-right  : 16px;
    overflow      : hidden;
}

