@import "mixins";
@import "color";
@import "reset";
@import "tooltip";

html, body {
    height:  100%;
    margin:  0px;
    padding: 0px;
    border:  none;
}

.bg {
    @include ChineseFont;
    background: #252525 url('../img/bg.gif') repeat;
}

#playground { width: 100%; height: 100%; overflow: visible; }

.container { 
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: 0;
}

#skill   { left: 100%; }
#work    { left: 200%; }
#contact { left: 300%; }

.s1 { background: url('../img/s1.gif') no-repeat; }
.s2 { background: url('../img/s2.png') no-repeat; }

.bar {
    position: fixed;
    width: 100%;
    height: 8px;
    bottom: -8px;

    &.active {
        -webkit-animation: bar-scroll-horz 0.5s linear infinite;
        -moz-animation: bar-scroll-horz 0.5s linear infinite;
        animation: bar-scroll-horz 0.5s linear infinite;
    }
}

#barSkill   { @include Stripe(-45deg, 45px, #f11105 #f27405 #f1e105 #3ea62e #0c5b9e); }
#barWork    { @include Stripe(-45deg, 45px, #000 #fce34f); }
#barContact { @include Stripe(-45deg, 45px, #0f8bc0 #f00); }

@-webkit-keyframes bar-scroll-horz {
    0%   { background-position: 0 0;  }
    100% { background-position: 90px 0; }
}
@-moz-keyframes bar-scroll-horz {
    0%   { background-position: 0 0;  }
    100% { background-position: 90px 0; }
}
@keyframes bar-scroll-horz {
    0%   { background-position: 0 0;  }
    100% { background-position: 90px 0; }
}

#navButtons {
    position: fixed;
    right: 10px;
    bottom: 15px;
}
.navbtn {
    position: relative;
    float: left;
    width: 33px;
    height: 34px;
    @include HandCursor;

    background: #5b5b5b;
    margin-right: 5px;
    @include BorderRadius(5px);

    border: 1px solid #000;
    @include BoxShadow("0 1px 3px rgba(0,0,0,0.75)");

    div 
    {
        width: 100%;
        height: 31px;

        font-family: Verdana;

        @include SizingBorderBox;
        @include BorderRadius(3px);
        border: 1px solid #e0e0e0;
        
        background: #e3e3e3;
        @include LinearBackground("#e3e3e3 0%, #cecece 100%");

        &:before {
            position: absolute;
            margin-top: 16px;
            height: 13px;
            line-height: 13px;
            font-size: 12px;
            
            @include TextEmboss(#FFF);
        }
    }

    &:hover{
        background: #404040;
    }

    &.pressed, &:active {
        margin-top: 2px;
        height: 32px;
    }
}

#btnSpace { 
    width: 69px;

    div:before {
        width: 100%;
        margin-top: 15px;
        text-align: center;

        content: "SpaceBar";
    }
}
#btnRight div:before {
    right: 3px;
    content: "\2192";
}
#btnLeft div:before { 
    left: 3px;
    content: "\2190";
}

@font-face {
  font-family: 'IcoMoon';
  src: url('../asset/icomoon.otf') format('opentype');
}

@import "main";
@import "contact";
@import "skill";
@import "work";