@import "mixin";

// ---------- Logo
.logo {
  @extend .page-wrap;
  
  height      : $firstPageBottomHeight;
  line-height : $firstPageBottomHeight;
  padding     : 0;
}

.the-logo {
  position : relative;
  width    : 60px;
  height   : $firstPageBottomHeight;
  margin   : auto;

  $svgBGWidth  : 240;
  $svgBGHeight : 274;
  $bgmargin    : floor(($firstPageBottomHeight - 60/240*274) / 2);

  background-image    : image-url("logo.svg");
  background-repeat   : no-repeat;
  background-position : center $bgmargin;
  @include background-size(60px auto);

  .self-desc {
    position    : absolute;
    padding     : 0 35px;
    color       : #7f7f7f;
    font-size   : 12px;
    white-space : nowrap;
    left        : 50%;
    
    opacity        : 0;
    pointer-events : none;

    @include transform( rotateX(90deg) );
    @include transform-origin( 50%,50%,-3px );
        
    @include transition(all .3s ease-in-out);

    &.left {
      text-align : right;
      left       : auto;
      right      : 50%;
      @include transform( rotateX(-90deg) );
    }

    b {
      font-weight : normal;
      color       : #333;
    }
  }

  &:hover {
    .self-desc {
      opacity : 1;
      @include transform( rotateX(0deg) );
    }
  }
}

.topline {
  background     : image-url("bg.jpg") repeat;
  position       : fixed;
  top            : 0;
  height         : 4px;
  width          : 100%;
  z-index        : 100;
  
  @include retina() {
    background-image : image-url("bg@2x.jpg");
    @include background-size( image-width("bg.jpg"), auto );
  }
}
// Logo ----------
