$tooltipColor : #333745;
$tooltipArrowSize : 6px;


.tooltip {
  position   : absolute;
  max-width  : 230px;
  padding    : 5px;
  left       : 0;
  top        : 0;
  text-align : center;

  background    : $tooltipColor;
  border-radius : 3px;
  color         : #f0f0f0;
  font-size     : 12px;
  opacity       : 0;

  @include transition( all .2s ease-out );
  @include transition-property( transform, opacity, z-index );
  
  &.top    {
    .arrow {
      bottom : -$tooltipArrowSize;

      border-bottom-width : 0; 
      border-top-color    : $tooltipColor;
    }
    @include transform( translate(0, -10px) );
  }
  &.bottom {
    .arrow {
      top : -$tooltipArrowSize;

      border-top-width    : 0; 
      border-bottom-color : $tooltipColor; 
    }
    @include transform( translate(0,  10px) );
  }
  &.left   {
    .arrow {
      right      : -$tooltipArrowSize;
      top        : 50%;
      margin-top : -$tooltipArrowSize;

      border-right-width : 0; 
      border-left-color  : $tooltipColor; 
    }
    @include transform( translate(-10px, 0) ); }
  &.right  {
    .arrow {
      left       : -$tooltipArrowSize;
      top        : 50%;
      margin-top : -$tooltipArrowSize;
      
      border-left-width  : 0; 
      border-right-color : $tooltipColor;
    }
    @include transform( translate( 10px, 0) );
  }

  &.shown {
    opacity : 1;
    z-index : 999;
    @include transform( translate(0, 0) );
    @include transition-property( transform, opacity );
  }

  &.no-animate {
    @include transition ( none !important );
  }

  .arrow {
    content  : " ";
    position : absolute;
    width    : 0px;
    height   : 0px;
    border   : $tooltipArrowSize solid transparent;
  }

  a {
    display       : inline-block;
    color         : #fff;
    border-bottom : 1px dotted #fff;

    &:hover {
      color : #0096ff;
      border-bottom-color : #0096ff;
    }
  }

  &.error {
    $tooltipColor_Error : #fb5556;
    color      : #f5e9df;
    background : $tooltipColor_Error;
    
    &.top .arrow {
      border-top-color : $tooltipColor_Error;
    }
    &.bottom .arrow {
      border-bottom-color : $tooltipColor_Error; 
    }
    &.left .arrow {
      border-left-color  : $tooltipColor_Error; 
    }
    &.right .arrow {
      border-right-color : $tooltipColor_Error;
    }
  }

  &.success {
    $tooltipColor_Error : #4fc265;
    color      : #f5e9df;
    background : $tooltipColor_Error;
    
    &.top .arrow {
      border-top-color : $tooltipColor_Error;
    }
    &.bottom .arrow {
      border-bottom-color : $tooltipColor_Error; 
    }
    &.left .arrow {
      border-left-color  : $tooltipColor_Error; 
    }
    &.right .arrow {
      border-right-color : $tooltipColor_Error;
    }
  }
}

.tip-tag {
  padding        : 0 3px;
  border-radius  : 2px;
  background     : #ecece4;
  color          : #333745;
  margin-right   : 5px;
  display        : inline-block;
  font-family    : Tahoma, Helvetica, Verdana, Geneva, sans-serif;
}
