/*
Syntax error: Undefined variable: "$gray04".
        on line 47 of /Volumes/MacData/项目/WWM.com/octopress/sass/parts/_syntax.scss
        from line 17 of /Volumes/MacData/项目/WWM.com/octopress/sass/screen.scss

Backtrace:
/Volumes/MacData/项目/WWM.com/octopress/sass/parts/_syntax.scss:47
/Volumes/MacData/项目/WWM.com/octopress/sass/screen.scss:17
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/script/variable.rb:45:in `_perform'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/script/node.rb:40:in `perform'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:145:in `block in visit_import'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:145:in `map'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:145:in `visit_import'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/engine.rb:291:in `_render'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/engine.rb:239:in `block in render'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.5/lib/sass/engine.rb:239:in `render'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `block in compile'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `each'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `block in run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/rb-fsevent-0.4.3.1/lib/rb-fsevent/fsevent.rb:37:in `call'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/rb-fsevent-0.4.3.1/lib/rb-fsevent/fsevent.rb:37:in `run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:86:in `perform'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/bin/compass:25:in `block in <top (required)>'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/bin/compass:39:in `call'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/bin/compass:39:in `<top (required)>'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `load'
/Users/Morris/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$gray04\".\A         on line 47 of /Volumes/MacData/项目/WWM.com/octopress/sass/parts/_syntax.scss\A         from line 17 of /Volumes/MacData/项目/WWM.com/octopress/sass/screen.scss"; }
