@include ReverseLink(".entry a, .entry a.category", #FFF, $spColor);

.entry{
    line-height : 2;
    color : $entryTextColor;

    a.photos {
        background : none;
        padding    : 0;

        img {
            vertical-align : bottom;
        }

        span {
            position       : relative;
            display        : inline-block;
            max-width      : 100%;
            margin-bottom  : 5px;
            vertical-align : bottom;
            padding        : 4px;

            &:before, &:after {
                position : absolute;
                content  : ' ';
                width    : 100%;
                height   : 100%;
                left     : 0;
            }

            &:hover:before {
                border : 4px solid $spColor !important;
                border-bottom-width: 3px !important;
                top    : 0;

                @include SizingBorderBox;
                @include BorderRadius(6px);
                @include LinearBackground("45deg, rgba(10,108,141,.15) 50%, rgba(158,221,242,.25) 50%");
                @include BoxShadow('inset 0 -1px 0 #2fccff, inset 0 0 3px rgba(0,0,0,.3), inset 0 0 6px rgba(0,0,0,.9)');
            }

            &:hover:after {
                content     : '\2605';
                font        : 16px 'MiniGlyphs';
                right       : 0;
                top         : 50%;
                height      : 20px;
                width       : 40px;
                line-height : 20px;
                margin      : -10px auto 0 auto;
                background  : rgba(0, 0, 0, .7);
                text-align  : center;
                @include BorderRadius(16px);
            }
        }

        &.glossy {
            img {
                @include BoxShadow("0 1px 2px rgba(0,0,0,.4)");
                @include BorderRadius(6px);
            }

            span {
                padding : 0;
                &:before {
                    height   : 50%;
                    top      : 0;
                    left     : 0;
                    @include BorderRadius(7px 7px 0 0);
                    @include LinearBackground("rgba(255,255,255,.6),rgba(255,255,255,.15)");
                }

                &:after {
                    top    : -1px;
                    left   : -1px;
                    border : 1px solid #1b1b1b;
                    @include BorderRadius(7px);
                    @include BoxShadow("0 1px 0 rgba(255,255,255,.2)");
                    @include BoxShadow("inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3)");
                }

                &:hover:before {
                    height : 100%;
                    border : 2px solid $spColor !important;
                    @include BorderRadius(7px);
                }

                &:hover:after {
                    content : ' ';
                    width   : 100%;
                    height  : 100%;
                    margin  : 0;
                    background: none;
                }
            }
        }

        // Gallery Style
        &.gallery {
            display : inline-block;
            max-width : 33%;

            img { display : inline; }
        }
    }

    p {
        margin-top : 1em;
    }

    strong {
        font-weight : bold;
        color : #000;
    }

    .left  { float : left; margin-right : 8px; }
    .right { float : right; margin-left : 8px; }

    img, video { max-width: 100%; height: auto; }

    iframe {
        width : 100%;
        border: none;
        @include BoxShadow("0 2px 3px rgba(0,0,0,0.3)");
    }
    ol, ul {
        margin: 1em 0 1em 2em;
    }
    >pre, code {
        font        : $fixedMonoSize $monospace;
        background  : #fff;
        border      : 1px solid #ccc;
        @include BorderRadius(5px);
    }
    pre code {
        background : none;
        border     : none;
        padding    : 0;
        margin     : 0;
        @include BorderRadius(none);
    }
    code {
        padding : 1px 3px;
        margin  : 0 3px;
    }
    >pre {
        padding     : 5px 15px;
        line-height : 1.5;
        overflow-x  : auto;
    }
    hr, h1 {
        border     : none;
        border-top : 1px dashed $splitLineColor;
        position   : relative;
        &:before {
            color     : $splitLineColor;
            content   : '\2702';
            position  : absolute;
            font-size : 16px;
            top       : -1em;
            left      : 5em;
            font-weight : normal;
        }
    }
    hr {
        margin : 1em 0;
    }
    .max-box {
        position       : relative;
        padding-bottom : 56.25%;
        height         : 0;
        overflow       : hidden;
        iframe, object, embed {
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }
    }
    .center-box {
        max-width  : 100%;
        text-align : center;
    }

    blockquote {
        position    : relative;
        background  : #222;
        color       : #FFF;
        padding-top : 10px;
        display     : inline-block;
        text-align  : center;
        @include BorderRadius(3px);

        &:before {
            content : '"';
            display : block;
            position: absolute;
            top  : 0;
            left : 8px;
            font : 45px $defaultChFont;
        }

        p { 
            padding: 0 3em; 
            margin : 0; 
        }

        footer {
            background   : #FFF;
            padding      : 0 3px;
            font-size    : 0.5em;
            color        : #222;
            margin       : 10px 2px 2px 2px;
            line-height  : 1.5em;
            text-align   : left;
            @include BorderRadius(1px);

            &:before {
                content : 'By ';
            }

            a:hover {
                color : inherit;
                background:  none;
                text-decoration: underline;
                @include BorderRadius(none);
            }
        }
    }
}
