// Monokai Theme.
$mnkNormal          : #F8F8F2;
$mnkBg              : #211F1C;
$mnkHoverLineBg     : #000;

$mnkLineCount       : #7c7c77;
$mnkLineCountBg     : #141412;
$mnkLineCountBorder : #2c2c28;

$mnkErr             : #F8F8F0;
$mnkErrBg           : #F92672;

$mnkKeyword         : #66D8EF; // Cyan
$mnkComment         : #60605B; // Grey
$mnkString          : #A5E22D; // Green
$mnkNumber          : #AE80FF; // Purple
$mnkVariable        : #FF7E00; // Orange
$mnkPreprocesser    : #F25DB1; // Light Pink
$mnkFunction        : #E6DB74; // Light yellow
$mnkClass           : #F92672; // Pink
$mnkType            : #2B829F; // Blue

figure.code, .entry .gist {
    background  : $mnkBg;
    overflow-x  : auto;
    color       : $mnkNormal;
    @include BorderRadius(5px);
}

figure.code, .entry .gist-data pre {
    font : $fixedMonoSize $monospace !important;
}

.entry .gist-file {
    margin-bottom: 5px !important;
    border : none !important;
    .gist-data {
        background : none !important;
    }
    .gist-meta {
        font : $fixedMonoSize $defaultChFont;
        height : 1em !important;
        line-height : 1em !important;
    }
}

figure.code {
    .line-numbers {
        display      : block;
        border-right : 1px solid $mnkLineCountBorder;
        background   : $mnkLineCountBg;
        color        : $mnkLineCount;
        padding      : 0 10px;
        
        line-height  : 1.6em;
    }

    span.line {
        display     : block;
        line-height : 1.6em;
        padding-left : 5px;
        &:hover {
            background : $mnkHoverLineBg;
        }
    }

    td.code {
        width: 100%;
        overflow-x: auto;
    }
}

figCaption {
    color       : $mnkComment;
    line-height : 1.5em;
    height      : 1.5em;
    padding     : 3px 1em;
    position    : relative;

    a {
        background : darken($mnkBg, 5);
        position : absolute;
        right : 5px;
        @include BorderRadius(3px);
    }
}

figure.code, .gist-highlight {

    .o, .p, .nv, .n, .nx {
        color : $mnkNormal !important;
        font-weight: normal !important;
    } // Operator, Name.Variable, Name

    .c, .cm, .c1, .cs {
        color : $mnkComment !important;
        font-style: italic !important;
    } // Comment, Comment.Multiline, Comment.Preproc, Comment.Single, Comment.Special
    .cs {
        font-weight:bold !important;
    } // Comment.Special
    .err {
        color : $mnkErr !important;
        background : $mnkErrBg !important;
    } // Error

    .k, .kc, .kd, .ow, .no, .gh {
        color: $mnkKeyword !important;
    } // Keyword, Keyword.Constant, Keyword.Declaration, Operator.Word, Generic.Heading
    .mf, .m, .mh, .mi {
        color: $mnkNumber !important;
    } // Literal.Number.Float, Literal.Number, Literal.Number.Hex, Literal.Number.Integer
    .s, .sd, .s2, .s1, .sr, .se, .si {
        color: $mnkString !important;
    } // Literal.String, Literal.String.Doc, Literal.String.Double, Literal.String.Single, Literal.String.Regex, Literal.String.Escape, Literal.String.Interpol
    .vg, .vi, .kp{
        color: $mnkVariable !important;
    } // Name.Variable.Global, Name.Variable.Instance
    .vg {
        font-style : italic !important;
    } // Name.Variable.Global
    .nb, .kt, .gu {
        color: $mnkType !important;
    } // Name.Builtin, Keyword.Type, Generic.SubHeading
    .nc {
        color: $mnkString !important;
    } // Name.Class
    .nt, .cp, .kr {
        color: $mnkClass !important;
    } //  Name.Tag, , Keyword.Reversed
    .na, .nl, .nf, .nn {
        color: $mnkFunction !important;
    } // Name.Attribute, Function, Name.Namespace
    .ne {
        color:$mnkFunction !important;
        font-weight: bold !important;
    } // Name.Exception
    .gd {
        color: $mnkBg !important;
        background: $mnkClass !important;
        display: inline-block;
    } // Generic.Deleted
    .gi {
        color:$mnkBg !important;
        background : $mnkString !important;
        display: inline-block;
    } // Generic.Inserted

    .ge {
        color:$mnkNormal !important;
        font-style: italic !important;
    } // Generic.Emph
    .gs {
        color:$mnkNormal !important;
        font-weight: bold !important;
    } // Generic.Strong
}
