html {
    width       : 100%;
    height      : 100%;
    font-size   : 62.5%;
    font-family : $defaultChFont;
}

h1 { font-size : 1.8em; }
h2 { font-size : 1.5em; }
h3 { font-size : 1.2em; }
h4 { font-size : 1.1em; }
h1,h2,h3,h4 {
    clear : both;
    font-weight: bold;
    margin: 1em 0 0 0;
}

// Reset
a {
    color           : inherit;
    text-decoration : none;
}

* { 
    margin  : 0;
    padding : 0;
}
table {
    border-spacing : 0;
}