$cardMidMargin : 10px;

.card-mid {
  position    : relative;
  // width       : $cardRightW;
  height      : $cardMidH;
  margin-left : $cardLeftW;
  opacity     : 0.99;
}

.cite-con {
  overflow    : hidden;
  position    : absolute;
  top         : 0;
  left        : -10px;
  margin-left : 0 !important;

  &:after {
    @extend .sprite;
    
    content  : " ";
    display  : block;
    position : absolute;
    top      : 0;
    left     : $cardMidMargin;
    width    : 38px;
    height   : 30px;
    background-position: -35px -49px;
  }
}

#W_citeCarousel {

  @include perspective(500px);

  height      : 100%;
  width       : 100%;
  padding     : 0 $cardMidMargin;
  margin-left : -$cardMidMargin;
  overflow    : hidden;
  position    : relative;
  
  .cite-con {
    left     : 0;
    width    : 100%;
    height   : 100%;
    padding  : 0 $cardMidMargin;
    @include box-sizing( border-box );
  }

  .head {
    z-index : 3;
    @include backface-visibility(hidden);
  }

  .tail {
    z-index : 4;
    @include backface-visibility(hidden);
  }

  &.cite-play {
    .head {
      @include animation(flipHead .5s linear both);
    }
    .tail {
      z-index : 2;
      @include animation(flipTail .5s linear both);
    }
  }
}

@-webkit-keyframes flipHead {
  0%   { -webkit-transform : rotateX(0deg);   }
  100% { -webkit-transform : rotateX(180deg); }
}

@-webkit-keyframes flipTail {
  0% {
    z-index : 2;
    -webkit-transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    -webkit-transform : rotateX(0deg);
  }
}
@-moz-keyframes flipHead {
  0%   { -moz-transform : rotateX(0deg);   }
  100% { -moz-transform : rotateX(180deg); }
}

@-moz-keyframes flipTail {
  0% {
    z-index : 2;
    -moz-transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    -moz-transform : rotateX(0deg);
  }
}
@-o-keyframes flipHead {
  0%   { -o-transform : rotateX(0deg);   }
  100% { -o-transform : rotateX(180deg); }
}

@-o-keyframes flipTail {
  0% {
    z-index : 2;
    -o-transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    -o-transform : rotateX(0deg);
  }
}
@keyframes flipHead {
  0%   { transform : rotateX(0deg);   }
  100% { transform : rotateX(180deg); }
}

@keyframes flipTail {
  0% {
    z-index : 2;
    transform : rotateX(-180deg);
  }
  50% {
    z-index : 4;
  }
  100% {
    z-index : 4;
    transform : rotateX(0deg);
  }
}

.cite-wrap {
  @extend .font-cursive;
  
  height       : 100%;
  padding      : 0 10px;
  text-indent  : 30px;
  text-align   : left;
  color        : #452705;
  text-shadow  : 0 1px 1px #fff;
  position     : relative;
  background   : #eeebdf image-url("noise.png") repeat;
  
  .cite {
    padding-top : 20px;
    
    &.single-bold {
      font-size : 18px;
      padding-top : 30px;
    }
  }
  
  .cite-src {
    position : absolute;
    bottom   : 5px;
    right    : 10px;
    
    &:before {
      content : " - ";
    }
  }
}
