.card-left {
  height   : $cardLowerH;
  width    : $cardLeftW;
  float    : left;
  position : relative;

  background    : #7c7c7c;
  border-radius : 0 0 0 4px;
  
}

$puzzleSize        : 30px;
$puzzlePaddingLeft : ($cardLeftW  - $puzzleSize * 4) / 2;
$puzzlePaddingTop  : ($cardLowerH - $puzzleSize * 4) / 2;

#W_puzzle {
  display    : none;
  height     : 100%;
  background : image-url("avatar.jpg") no-repeat;
  padding    : $puzzlePaddingTop $puzzlePaddingLeft;
  
  @include user-select( none );
  @include box-sizing( border-box );

  @include retina() {
    background-image : image-url("avatar@2x.jpg");
    @include background-size(image-width("avatar.jpg") auto); 
  }

  .ready & { display : block; }

  &:before {
    width      : $puzzleSize * 4;
    height     : $puzzleSize * 4;
    background : #7c7c7c;
    content    : " ";
    display    : block;
  }
}

.puzzle-item {
  position : absolute;
  width    : $puzzleSize;
  height   : $puzzleSize;
  left     : $puzzlePaddingLeft; 
  top      : $puzzlePaddingTop;
  cursor   : pointer;
  
  @include transition(all .1s ease-in-out);

  .playing &[data-idx="15"] {
    display : none;
  }

  .random & {
    @include transition-duration(.3s);
  }
}

#W_playGame {
  width       : 100%;
  height      : 100%;
  position    : absolute;
  left        : 0;
  top         : 0;
  z-index     : 30;
  font-size   : 12px;
  color       : #fff;
  text-align  : center;
  background  : rgba(0,0,0,0.6);
  cursor      : pointer;
  
  opacity : 0;
  @include transition(opacity 0.3s ease-in-out);

  &:before, &:after {
    font-family : 'wwmregular';
    content     : "\F119";
    color       : #fff;
    font-size   : 24px;
    width       : 40px;
    height      : 40px;
    line-height : 40px;
    text-align  : center;
    display     : block;
    position    : absolute;
    left        : 50%;
    top         : 50%;
    margin      : -20px 0 0 -20px;
  }

  &:before {
    background    : #333;
    border-radius : 50%;
  }

  &:after {
    content : "\F120";
    color   : #9a9a9a;
  }

  .card-left:hover & {
    opacity : 1;
  }

  .card-left.playing & {
    display : none;
  }
}
