{% if index %}
    <h1 class="title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    <div class="meta">
        <div class="seperator"></div>
        {% if site.disqus_short_name and post.comments == true and site.disqus_show_comment_count == true %}
        <a class="comments" href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">0</a>
        {% endif %}
        <div class="date">{% include post/date.html %}{{ time }}</div>
    </div>
    <div class="entry">
        {{ content | excerpt }}
        {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    </div>
    <div class="afterArticle">
        {% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
        {% include post/categories.html %}
    </div>

{% else %}
    <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    <div class="meta">
        <div class="seperator"></div>
        {% if site.disqus_short_name and page.comments == true and site.disqus_show_comment_count == true %}
        <a class="comments" href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">comments</a>
        {% endif %}
        <div class="date">{% include post/date.html %}{{ time }}</div>
    </div>
    <div class="entry">{{ content }}</div>
    <div class="afterArticle">{% include post/categories.html %}</div>
{% endif %}