---
layout: default
---

<div class="contentWrapper">
<div class="blog-index">
    <div id="hideout">{% include custom/hideout.html %}<div id="hideoutBtn"></div></div>

    {% assign index = true %}
    {% for post in paginator.posts %}
    {% assign content = post.content %}
    <article class="post">{% include article.html %}</article>
    {% endfor %}

{% if paginator.previous_page or paginator.next_page %}
    <nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Older</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Newer</a>
    {% endif %}
    </nav>
{% endif %}

    {% include footer.html %}
</div>
</div>

<aside class="sidebar">
{% if site.blog_index_asides.size %}
{% include_array blog_index_asides %}
{% else %}
{% include_array default_asides %}
{% endif %}
</aside>